@media (max-width:575px) {
    .image-blocks .blocks {
        display: table;
    }
    .subscribe .box::after {
        width: 250px;
        height: 250px;
    }
    .subscribe {
        padding: 100px 50px;
    }
    .blocks_content {
        margin-bottom: 15px;
    }
}

@media(max-width:767px) {
    .menu_left,
    .menu_right {
        display: none;
    }
    .menu_toogle {
        display: none;
    }
    .menumobile {
        position: relative;
    }
    .menu_toogle {
        position: absolute;
        left: -15px;
        top: 100%;
        width: 100%;
        background: #2d657d;
        padding: 20px;
        font-weight: 600;
    }
    .navbar-toogle {
        float: left;
    }
    .menu_toogle .list_menu_mobile li {
        padding: 15px;
    }
    .menumobile .listmenu li a {
        padding-left: 10px;
    }
    .menu_toogle .list_menu_mobile li a {
        color: #FFF;
    }
    .menu_toogle .listdrop_mobile {
        display: none;
    }
    .dropmenumobile span {
        float: right;
        color: #FFF;
    }
    .nav_menu .logo_header img {
        width: 80px;
        padding: 10px;
    }
    .banner__content h1.title {
        font-size: 2rem;
    }
    .menumobile {
        height: 60px;
        padding: 20px;
    }
    .menumobileright {
        float: right;
    }
    .nav-top {
        display: block;
    }
    .nav_menu .logo_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 111111;
    }
    .nav_header {
        width: 100%;
        padding: 10px 0;
        transition: .5s;
    }
    .nav-top__left {
        display: flex;
        justify-content: center;
    }
    .nav-top__right a {
        font-size: 10px;
        margin-left: 5px;
        text-decoration: none;
    }
    .banner__content {
        width: 90%;
        top: 40% !important;
    }
    .banner__content .title {
        font-size: 15px !important;
    }
    .date-value .day {
        font-size: 3em;
    }
    .book-date {
        padding: 0;
    }
    .book-date i.fas {
        display: none;
    }
    .guests {
        position: absolute;
        left: -15px;
        margin-top: 20px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .35);
        width: 350px;
        z-index: 10;
        transform: translate(-50%, 10px);
        display: none;
    }
    label.guest {
        margin-top: -15px;
    }
    .section-header .title span {
        display: block;
    }
    .stretcher-wrapper .stretcher .stretcher-item {
        width: 50%;
        height: 40%;
        float: left;
    }
    .stretcher-item .stretcher-logo {
        background-color: transparent;
    }
    .stretcher-wrapper .stretcher .stretcher-item.more {
        width: 100%;
    }
    .stretcher-wrapper .stretcher .stretcher-item.more .more-icon {
        left: 50%;
        top: 25%;
    }
    .blocks_text .text {
        padding: 50px 10px;
    }
    .rooms.rooms-widget:before,
    .new::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        left: 0;
        bottom: 0;
        background-color: #00486c;
    }
    .search-room-selected-price {
        text-align: right;
        float: right;
        margin-right: 10px;
        font-size: 14px;
    }

}

@media (min-width: 767px) {
    /* .container {
        max-width: 100%;
    } */
    .no-xs-offset {
        margin-left: inherit;
    }
    section {
        padding-top: 40px;
        /* padding-bottom: 40px; */
    }
    section.room,
    section.new,
    section.image-blocks,
    section.cards-about {
        padding-bottom: 40px;
    }
    .menumobile {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    section {
        padding-top: 70px;
        /* padding-bottom: 70px; */
    }
    section.room,
    section.new,
    section.image-blocks {
        padding-bottom: 70px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1300px;
    }
    section {
        padding-top: 100px;
        /* padding-bottom: 100px; */
    }
    section.cards-about {
        padding-top: 40px;
    }
    section.room,
    section.new,
    section.image-blocks {
        padding-bottom: 100px;
    }
    section.cards.text-blog {
        padding-top: 20px;
        padding-bottom: 100px;
    }
}

