* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #222;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header {
  background: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.header a {
  color: #fff;
  text-transform: uppercase;
}

/* Set Active */

.header.active {
  background: rgba(255, 255, 255, 0.95);
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header.active a {
  color: #222;
}

.header.active .nav_header {
  margin-top: -61px;
}

.header.active .nav_menu {
  padding-top: 20px;
}

.header.active .logo_header {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  margin-top: 50px;
  box-shadow: 0 0 10px #f3db81;
}

.header.active .logo_header img {
  width: 70px;
}

/* End Set Active */

.nav_header {
  width: 100%;
  padding: 20px 0;
  transition: 0.5s;
}

.nav-top {
  display: flex;
}

.nav-top__right {
  margin-left: auto;
}

.nav-top__left a {
  margin-right: 10px;
  text-decoration: none;
}

.nav-top__right a {
  font-size: 13px;
  margin-left: 10px;
  text-decoration: none;
}

.nav-top__right a i.fas {
  font-size: 10px;
}

.nav_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu .logo_header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu .logo_header img {
  width: 100px;
}

.nav_menu ul {
  display: flex;
}

.nav_menu ul li {
  position: relative;
}

.nav_menu ul a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 15px;
  line-height: 50px;
}

.nav_menu ul a:hover {
  color: #f3db81;
  text-shadow: 0 0 10px #fff;
}

.menu_left ul li a {
  padding-right: 20px;
}

.menu_right ul li a {
  padding-left: 20px;
}

/* Sub Menu */

.nav_menu ul li:hover ul.sub_menu {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  animation: hoverEffect 0.3s ease-in-out;
}

@keyframes hoverEffect {
  0% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ul.sub_menu {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  border-bottom-right-radius: 10px;
}

ul.sub_menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  width: 15px;
  height: 10px;
  background: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

ul.sub_menu li:not(:last-child) {
  border-bottom: 1px solid rgb(216, 214, 214);
}

ul.sub_menu li a {
  padding: 5px 10px;
  line-height: 30px;
  display: block;
  color: #222;
  font-size: 14px;
}

/* End Sub Menu */

/* End Menu */

/* Main */

main {
  position: relative;
}

.banner {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
}

.banner.small {
  height: 70vh;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
}

.banner__img {
  position: relative;
}

.banner__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.grow .banner__img::before {
  content: none;
}

.banner__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner.small .banner__img img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  // width: 50%;
  color: #fff;
}

.banner__content .star {
  color: #fff;
}

.banner__content h1.title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  color: #fff;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner__content h1.title span {
  color: #f3db81;
}

.banner__content p.text-banner {
  font-size: 18px;
  text-shadow: 0 0 10px #000;
  margin-bottom: 30px;
}

a.button1 {
  animation: slideUp 2s ease;
}

a.button {
  text-decoration: none;
  padding: 8px 17px;
  background: transparent;
  border: 1px solid #ddd;
  color: #fff;
  position: relative;
  font-size: 18px;
  transition: 0.5s;
}

a.button span {
  z-index: 10;
}

a.button:hover {
  color: #222;
  background: #fff;
}

.banner__booking {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
}

.book-date {
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
}

.book-date i.fas {
  position: absolute;
  top: 10px;
  margin-left: 10px;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  padding-left: 15px;
  color: #fff;
}

.book-date label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.book-date input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: transparent;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  text-indent: -9999;
  color: transparent;
}

.date-value {
  z-index: 10;
  padding-top: 20px;
  color: #fff;
  font-family: "Playfair Display", serif;
  transition: 0.5s;
}

.book-date:hover .date-value {
  padding-left: 15px;
}

.date-value .day {
  font-size: xx-large;
  line-height: 28px;
}

.date-value .month {
  font-size: 1.5em;
}

.date-value .year {
  font-size: 1.2em;
  color: #f1c40f;
}

/* Custom datepicker */

.book-date .ui-state-default,
.ui-widget-content .ui-state-default {
  padding: 15px;
}

.book-date .ui-state-default:hover,
.ui-widget-content .ui-state-default:hover {
  background: #fff;
}

.ui-datepicker {
  width: 25em !important;
}

.book-now {
  width: 100%;
  text-align: center;
}

a.btn--big {
  width: 100%;
  padding: 15px;
  display: block;
  font-size: 22px;
}

.book-now small {
  display: block;
  font-size: 50%;
}

.guests {
  position: absolute;
  left: 0;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  width: 350px;
  z-index: 10;
  display: none;
}

.guests.active {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.guest-header {
  padding: 10px;
  background: #00486c;
  display: flex;
  justify-content: space-between;
}

.guest-header span {
  color: #fff;
}

.guest-header span i.fa {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.guest-body {
  padding: 10px;
}

.guest-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
}

.guest-item .number {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest-item .number span {
  color: #000;
  font-weight: bold;
}

.guest-item .type-guest {
  padding-left: 10px;
}

.guest-item .action {
  margin-left: auto;
}

.guest-item .action span {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 4px 11px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.guest-item .action span.plus:hover {
  background: rgb(144, 243, 144);
}

.guest-item .action span.minus:hover {
  background: rgb(234, 98, 98);
}

/* Custom Owl  */

#sliderBanner .owl-nav button.owl-prev,
#sliderBanner .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: transparent;
  border: none;
}

#sliderBanner .owl-nav button.owl-prev {
  left: 15px;
}

#sliderBanner .owl-nav button.owl-next {
  right: 15px;
}

#sliderBanner .owl-nav button.owl-prev span,
#sliderBanner .owl-nav button.owl-next span {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  transition: 0.4s;
}

#sliderBanner .owl-nav button.owl-prev span:hover,
#sliderBanner .owl-nav button.owl-next span:hover {
  transform: scale(1.3);
}

#sliderBanner .owl-stage .owl-item.active {
  animation: abc 2s ease;
}

#sliderBanner .owl-stage .owl-item:not(.active) {
  animation: xyz 1s ease-in-out;
}

#sliderBanner .owl-stage .owl-item.active h1.title {
  animation: slideDown 1s ease;
}

#sliderBanner .owl-stage .owl-item.active p.text-banner {
  animation: slideUp 2s ease;
}

@keyframes abc {
  0% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes xyz {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

#sliderBanner .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* list room */

.list-room {
  position: relative;
  /* background: #000; */
}

.rooms.rooms-widget {
  position: relative;
  padding-top: 20px;
}

.rooms.rooms-widget:before,
.new::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-color: #00486c;
}

.rooms.rooms-widget-nobackground:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.new.new-widget-nobackground:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.btn.btn-clean-dark {
  background-color: transparent;
  border-color: rgba(58, 61, 69, 0.5);
  color: #3a3d45 !important;
  font-family: "Montserrat", "sans-serif";
}

.section-header {
  padding-bottom: 40px;
}

.section-header .title {
  margin-top: 0;
  margin-bottom: 5px;
  color: #3a3d45;
  font-family: "Playfair Display", serif;
  position: relative;
  text-transform: uppercase;
}

.section-header .title span {
  color: #f1c40f;
}

.section-header p {
  margin: 0;
}

.section-header .title .btn {
  position: absolute;
  right: 0;
  top: 3px;
}

.rooms article .image {
  position: relative;
}

.owl-rooms .item article {
  margin-top: 20px;
}

.rooms article .image img {
  width: 100%;
  max-height: 200px;
}

.rooms article .details {
  padding: 35px;
  background-color: #eee;
  margin-bottom: 30px;
}

.rooms .title a {
  color: #eac76e;
  text-decoration: none;
}

.rooms .book {
  display: flex;
  justify-content: space-between;
}

.rooms .book .btn-main {
  background-color: #00486c;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 10px;
  font-size: 14px;
}

.book .btn-sub {
  background-color: white;
  text-transform: uppercase;
  font-weight: 500;
  color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 0;
  padding: 5px 5px;
  margin-right: 10px;
  font-size: 14px;
}

.owl-room .owl-nav {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

section.rooms.rooms-widget:hover .owl-nav {
  opacity: 1;
}

.owl-room .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -30px;
  background: transparent !important;
  outline: none;
}

.owl-room .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -30px;
  background: transparent !important;
  outline: none;
}

.owl-room button span {
  color: #fff;
  font-size: 45px;
}

/* end list room */

/* service */

.stretcher-wrapper .stretcher {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.stretcher-wrapper .stretcher {
  height: 500px;
  white-space: nowrap;
}

.stretcher-wrapper .stretcher .stretcher-item {
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.stretcher-wrapper .stretcher .stretcher-item {
  width: 23%;
  height: 100%;
  display: inline-block;
}

.stretcher-item .stretcher-logo {
  background-color: rgba(0, 72, 108, 0.8);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  font-size: initial;
  color: #fff;
}

.stretcher-wrapper .stretcher {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.stretcher-wrapper .stretcher {
  height: 500px;
  white-space: nowrap;
}

.stretcher-wrapper .stretcher .stretcher-item {
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.stretcher-wrapper .stretcher .stretcher-item {
  width: 23%;
  height: 100%;
  display: inline-block;
}

// .stretcher-wrapper .section-header:before {
//   content: "";
//   position: absolute;
//   border-width: 20px 20px 0 20px;
//   border-style: solid solid solid solid;
//   border-color: #fff transparent #fff;
//   top: 60px;
//   left: 50%;
//   z-index: 2;
//   -moz-transform: translateX(-50%);
//   -ms-transform: translateX(-50%);
//   -o-transform: translateX(-50%);
//   -webkit-transform: translateX(-50%);
//   transform: translateX(-50%);
// }

.stretcher-wrapper .section-header {
  background-color: #fff;
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}

.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo img,
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stretcher-wrapper .stretcher .stretcher-item.active .stretcher-logo .text {
  display: none;
}

.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {
  text-align: center;
}

.stretcher-wrapper .stretcher .stretcher-item figure {
  display: none;
  position: absolute;
  bottom: -15px;
  padding: 15px 30px;
  background-color: rgba(0, 72, 108, 0.8);
  /* background: #f3f3f3; */
  width: 100%;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  color: #fff;
}

.stretcher-wrapper .stretcher .stretcher-item figure h4 {
  margin-bottom: 0;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.stretcher-wrapper .stretcher .stretcher-item figure figcaption {
  white-space: normal;
  font-size: 13px;
}

.stretcher-wrapper .stretcher .stretcher-item.active {
  width: 38%;
}

.stretcher-wrapper .stretcher .stretcher-item.inactive {
  width: 18%;
}

.stretcher-wrapper .stretcher .stretcher-item.active .stretcher-logo {
  background-color: transparent;
}

.stretcher-wrapper .stretcher .stretcher-item.active figure {
  display: block;
}

.stretcher-wrapper .stretcher .stretcher-item.more .more-icon {
  font-size: 70px;
  color: #fff;
  position: absolute;
  left: 18%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stretcher-wrapper .stretcher .stretcher-item.more.active .more-icon {
  left: 50%;
  font-size: 20px;
}

.stretcher-wrapper .stretcher .stretcher-item.more .more-icon a {
  display: none;
}

.stretcher-wrapper .stretcher .stretcher-item.more .more-icon span {
  display: block;
}

.stretcher-wrapper .stretcher .stretcher-item.more.active .more-icon span {
  display: none;
}

.stretcher-wrapper .stretcher .stretcher-item.more.active .more-icon a {
  color: #fff;
  display: block;
}

.stretcher-wrapper .stretcher .stretcher-item.more {
  background-color: #002639;
}

/* emd service */

/* New */

.new {
  position: relative;
}

.new .image img {
  width: 100%;
  position: static;
  max-height: 200px;
}

.new .text {
  padding: 20px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s;
  transform: translate(0, -30px);
}

.new.new-widget-nobackground {
  .text {
    padding: 20px 0px;
  }
}

.new .text .time {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #00486c;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 10px);
  text-align: center;
  line-height: 1;
}
.new .text .time span {
  display: block;
}
.new .text .time span:nth-child(2) {
  font-size: 25px;
}

.new .text h4 {
  font-family: "Playfair", "sans-serif";
  text-decoration: none;
  font-size: 23px;
  color: #222;
  line-height: 1.1;
}
.new .text .info {
  font-family: "Playfair", "sans-serif";
  text-decoration: none;
  font-size: 12px;
  color: #6c757d;
  line-height: 1;
  margin-bottom: 10px;
}

.new .text .description {
  font-family: "Playfair", "sans-serif";
  text-decoration: none;
  font-size: 14px;
  color: #6c757d;
  line-height: 1;
}

.new a:hover {
  text-decoration: none;
}

.new article:hover > .text {
  transform: translate(0);
}

/* end new */

/* card */

.cards figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.cards figure figcaption {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  min-height: 360px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.cards figure figcaption:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00486c;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.5s;
}

.cards figure figcaption img {
  display: none;
}

.cards figure figcaption img {
  width: 100%;
}

.cards figure .btn {
  top: 80%;
}

.cards figure .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.cards figure.active .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.cards figure.active figcaption {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: all 2s;
}

.cards figure.active figcaption:before {
  opacity: 0.8;
}

/* end card */

/* Image blog */

.image-blocks .section-header {
  min-height: 400px;
  padding-top: 100px;
  margin-bottom: -180px;
}

.image-blocks .section-header .title,
.image-blocks .section-header p {
  color: #fff !important;
  text-align: center;
}

.image-blocks .section-header .btn.btn-clean-dark {
  color: #fff !important;
  border-color: #fff;
}

.image-blocks .blocks {
  display: flex;
}

.blocks_text {
  flex: 1;
  background: #eee;
}

.blocks_text .text {
  padding: 70px 50px;
}

.blocks_img {
  flex: 1;
}

.image-blocks .blocks_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blocks_text h2.title {
  font-family: "Display", "sans-serif";
  font-size: 35px;
}

.image-blocks .blocks_text .room-facilities {
  display: flex;
  justify-content: space-between;
}

.image-blocks .blocks_text .room-facilities {
  margin: 40px 0;
  padding: 15px 0;
  border-top: 1px solid #6767676b;
  border-bottom: 1px solid #6767676b;
}

.image-blocks .blocks_text .room-facilities figcaption {
  font-size: 13px;
  text-align: center;
}

.image-blocks .blocks_text .room-facilities figure {
  margin: 0;
}

.image-blocks .blocks_text .room-facilities i {
  font-size: 30px;
  margin-bottom: 3px;
}

.image-blocks .book {
  display: flex;
}

.image-blocks .book .btn.btn-danger {
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #e4bf6e;
  border: 1px solid #e4bf6e;
  margin-right: 15px;
}

.image-blocks .book div:nth-child(2) {
  margin-left: 15px;
}

.image-blocks .book div span {
  font-size: 13px;
}

.image-blocks .book div span.price.h2 {
  font-size: 25px;
}

.price.has-discount {
  color: red;
  text-decoration: line-through;
}
.price,
.price-discount {
  display: inline-block;
}

/* end Image blog */

/* qoutes */

.quotes {
  background-color: #006a9f;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  z-index: -2;
}

.quotes .section-header .title {
  color: #fff;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.quotes .text {
  text-align: center;
}

.quotes h4 {
  font-family: "Display", "sans-serif";
}

.quotes .more .rating {
  text-align: center;
}

.owl-quotes .owl-nav {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

section.quotes.quotes-slider:hover .owl-nav {
  opacity: 1;
}

.owl-quotes .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -30px;
  background: transparent !important;
  outline: none;
}

.owl-quotes .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -30px;
  background: transparent !important;
  outline: none;
}

.owl-quotes button span {
  color: #fff;
  font-size: 45px;
}

/* end qoutes */

/* End Main */

/* section header */

/* section footer */

.subscribe {
  position: relative;
  background-image: url("../img/detail/contact.png");
  background-size: 60% auto;
  padding: 150px;
  background-position: center;
  background-color: #00486c;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 999;
}

.subscribe .box {
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.subscribe .box::after {
  background-color: #00486c;
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  width: 400px;
  height: 400px;
  position: absolute;
  display: block;
  content: "";
  top: 50%;
}

.subscribe .box .title {
  font-family: "Display", "sans-serif";
  font-size: 33px;
}

.subscribe .form-group {
  position: relative;
  margin: 0 15px;
}

.subscribe .form-control {
  display: block;
  width: 100%;
  height: 46px;
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1.5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.subscribe button.btn.btn-sm.btn-main {
  position: absolute;
  top: -10%;
  right: 15px;
  background: #002639;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(50%);
}

footer {
  padding: 40px 0;
  background-color: #002639;
  color: #fff;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-right ul li,
.footer-left ul li,
.icon ul li {
  display: inline-table;
}

.footer-link a,
.footer-social a {
  color: #fff;
  padding: 0 10px;
  position: relative;
}

.footer-link li {
  margin-bottom: 10px;
}

// .footer-link li a::before {
//   content: "|";
//   position: absolute;
//   top: 50%;
//   right: 0;
//   color: #fff;
//   transform: translate(-50%, -50%);
// }

.icon li {
  padding-left: 20px;
}

.footer-link li:nth-last-of-type(1) a::before {
  display: none;
}

.footer-social a {
  padding: 0 5px;
}

.footer-social .icon {
  margin-top: 40px;
}

.footer-social .icon i {
  font-size: 18px;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
  margin-right: -17px;
}

/* end footer */

/* banner share */

.banner_share {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -200px;
  z-index: -1;
}

.banner_share img {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: cover;
}

.banner_share::before {
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  background-color: #00486ce6;
  z-index: 1;
}

.banner_share .title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.banner_share .title h2 {
  font-family: "Display", "sans-serif";
  text-transform: uppercase;
}

.banner_share .title p {
  font-size: 15px;
  text-transform: uppercase;
}

/* end banner share */

/* card about h2 */

.cards-about h2 {
  position: relative;
}

/* .container .section-header h2:after {
    content: "";
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ddd;
} */

.cards-about h2:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #ddd;
  bottom: -100%;
  text-align: center;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-about h2::after {
  content: "";
  width: 100px;
  height: 0.5px;
  border-radius: 50%;
  position: absolute;
  background: #ddd;
  bottom: -75%;
  text-align: center;
  margin: auto;
  margin-top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-about .title {
  margin: 70px 0;
  font-size: 15px;
  text-transform: inherit;
  text-align: center;
  font-family: "Playfair Display", serif;
}

/* end card about h2 */

#news-list .image,
#news-list img {
  width: 100%;
}

.room-attribute-icon {
  margin: 0px 5px;
}

.footer-logo {
  width: 50px;
  text-align: center;
  margin-left: 10px;
}
.footer-info a {
  color: #fff;
}

.menumobilecontent {
  background-color: #343a40;
}

.menumobilecontent ul li {
  margin-bottom: 10px;
}

.menumobilecontent ul li a {
  color: #fff;
}

.listdrop_mobile {
  margin-left: 20px;
  margin-top: 10px;
}

.cards .section-header {
  padding-top: 40px;
}

.icon svg,
.icon img {
  width: 46px;
  height: 46px;
}

.ant-card-type-inner .ant-card-head {
  background: #6c757d;
  color: white;
}
.ant-card-type-inner .ant-card-body {
  background: #ececec;
}

.room-type {
  position: absolute;
}

.room-attribute {
  margin-right: 20px;
}

.grow img {
  transition: 0.3s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s ease;
}

.growimg {
  transition: 0.3s ease;
}

.growimg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s ease;
}

.album-button {
  margin: 20px;
}
.album-button .ant-radio-button-wrapper {
  margin: 0px 20px;
}

.country-select button {
  padding: 3px 10px;
}
.country-select button span {
  margin: 0px;
}

#guestCountry {
  background-color: white;
  padding-bottom: 0px;
}

.react-tel-input .form-control {
  border-radius: 0 !important;
  border: none !important;
  width: 100% !important;
}

.payment-card {
  width: 50px;
  margin-right: 10px;
}

.room-description,
.news-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}