.section-search {
    @include border-radius(8px);
    background-color: rgba($color-default, 0.05);
    position: relative;
    border:none;
    min-height: 32px;

    input {
        @include border-radius(8px, 'border-top-left-radius');
        @include border-radius(8px, 'border-bottom-left-radius');
        background-color: rgba($color-default, 0.05);
        border: none;
        color:$color-default;
        opacity: 0.5;
        min-width: 280px;
        padding: 0px 15px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    button {
        @include border-radius(8px, 'border-top-right-radius');
        @include border-radius(8px, 'border-bottom-right-radius');
        min-width: 32px;
        height: auto;
        background-color: rgba($color-default, 0.05);
        color:$color-default;
        opacity: 0.5;
        border:none;
        &:hover {
            cursor: pointer;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    .clear-text {
        z-index: 999 !important;
        position: absolute;
        right: 10px;
        bottom: 0;
        left: auto;
        background: transparent;
        top: 8px;
        opacity: 0.5;
        cursor: pointer;
    }
}

.section-btn-created {
    @include border-radius(8px);
    position: relative;
    overflow: hidden;
    font-weight: 600;
    color: $color-white;
    background: rgba($color-orange, 1);
    border: none;
    margin: 0 15px;

    &:hover {
        @include box-shadow(0px 17px 10px -10px rgba($color-orange, 0.4));
        background: rgba($color-orange, 1);
        color: $color-white;
        cursor: pointer;
    }

    &:focus {
        border: none;
        outline: none;
    }
}
