#quick-booking {
  position: relative;
  margin-top: -100px;
  text-align: center;
  height: 100px;

  .date-value {
    z-index: 10;
    padding-top: 20px;
    color: #f1c40f;
    transition: 0.5s;
    font-family: "Playfair Display", serif;
    cursor: pointer;

    .day {
      font-size: 6em;
      line-height: 28px;
    }

    .month {
      font-size: 1.5em;
    }

    .year {
      font-size: 1.2em;
      color: #f1c40f;
      margin-left: 3px;
    }
  }
}

.guest-popup {
  width: 300px;
  .people-number {
    font-size: 2em;
    border: 1px solid;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: table-cell;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }
}

#booknow {
  display: block;
  margin: auto;
  padding: 20px;
  height: auto;
  background: transparent;
  color: #f1c40f;
}
