.room-title {
  font-size: 25px;
  font-weight: bold;
}

.room-discount {
  color: red;
  margin-left: 10px;
}

.room-price-discount {
  text-decoration: line-through;
}

.filter-room-item:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.booking-data-room-item:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.booking-data-room-item-price.ant-card-bordered {
  border: 1px solid #242424 !important;
  margin-bottom: 20px;
}

.filter-room-item:not(:first-child) {
  margin-top: 10px;
}

.search-room-result .ant-card-cover {
  max-height: 400px;
  overflow: hidden;
  padding: 1px;
}

.search-room-result .ant-card-head-title h4 {
  color: white;
}

.search-room-result .viewmore {
  float: right;
  text-align: right;
  font-size: 14px;
  margin-top: 5px;
}

.search-room-result,
.search-room-selected {
  .ant-card-head {
    // background-color: #242424;
    // color: white;
    font-weight: bold;
  }
}

.search-room-selected .ant-card-head-title {
  padding: 15px 0px;
}

.search-room-selected .ant-card-head-title h4 {
  // color: white;
}

.search-room-selected-index {
  margin-bottom: 0px !important;
}
.search-room-selected-price {
  text-align: right;
  float: right;
  margin-right: 10px;
}

.booking-price-summary {
  text-align: end;
}

.attribute-collapse .ant-collapse-header {
  padding: 0px !important;
}

.attribute-collapse .ant-collapse-content-box {
  padding: 0px !important;
}
